<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <title>中业</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../../static/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../../static/js/jquery-1.12.4.min.js"></script>
    <script src="../../static/js/jquery-1.7.1.min.js"></script>
    <script src="../../static/js/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../../static/js/document.js"></script>
    <link rel="stylesheet" href="../../static/css/jquery-ui-1.9.2.custom.css" type="text/css">
    <script type="text/javascript" src="../../static/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-ui-1.9.2.custom.js"></script>
    <script>
		$(function(){
            var frame_w = $('#main_body').outerWidth();
            var frame_h = $('#main_body').outerHeight();
            $('#main_frame').css({'width':frame_w,'height':frame_h});

			$('.first_menu').toggle(
            function() {
                $(this).addClass('active').siblings('.first_menu').removeClass('active');
                $(this).next().slideDown().siblings('.sub_menu').slideUp();
            },
            function () {
				$(this).next().slideUp();
            }
            );
		})
	</script>

</head>
<body>
<div class="header">
    <a href="{{ url_for(".shouye") }}" class="logo fl" target="main_frame"><div>中业资料平台</div></a>
</div>

<div class="side_bar" style="overflow: auto;">
    <div class="menu_con" style="width: 200px;">
        <div class="first_menu"><a href="#" class="icon02">数据展示</a></div>
        <ul class="sub_menu">
            <li><a class="icon031" href="{{ url_for("show_data.big_data") }}" target="main_frame">大资料</a></li>
            <li><a href="{{ url_for("show_data.little_data") }}" class="icon031" target="main_frame">小资料</a></li>
            <li><a href="{{ url_for("show_data.piliang_update") }}" class="icon031" target="main_frame">批量更新</a></li>
        </ul>
        <div class="first_menu"><a href="#" class="icon02">管理</a></div>
        <ul class="sub_menu">
            <li><a href="{{ url_for("admin.task_show") }}" class="icon031" target="main_frame">任务管理</a></li>
            <li><a class="icon022" href="{{ url_for("admin.user_list") }}" target="main_frame">用户列表</a></li>
        </ul>
    </div>
</div>

<div class="main_body" id="main_body">
    <iframe src="/shouye" frameborder="0" id="main_frame" name="main_frame" frameborder="0" scrolling="auto"></iframe>
</div>
</body>
</html>