<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <script src="../../static/js/jquery-1.7.1.min.js"></script>
    <script src="../../static/js/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../../static/js/document.js"></script>

    <link rel="stylesheet" href="../../static/css/jquery-ui-1.9.2.custom.css" type="text/css">
    <script type="text/javascript" src="../../static/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-ui-1.9.2.custom.js"></script>
    <script type="text/javascript" src="../../static/js/share.js"></script>

    <script type="text/javascript" src="../../static/js/files/task_list.js"></script>



    <style>
      .main {
          width: 100%;
          height: 100%;
      }


    </style>


</head>
<body>
<div class="main">
    <div style="width:100%; height:50px;float: left;margin: 20px auto;">

        <p style="float:left;margin: 20px auto auto 100px;">项目名称：</p>
        <select class="project_name" id="project_name" style="float: left;width: 150px;margin-top: 22px;">
            <option style="color: #aaaaaa;">无</option>
            <option>大资料</option>
            <option>小资料</option>
            <option>批量更新</option>
        </select>

        <p style="float:left;margin: 20px auto auto 120px;">任务编号：</p>
        <input type="text" class="input" style="width: 150px;height:20px;margin: 20px auto auto 5px; float: left;" placeholder="请输入" >
        <button class="chaxun" type="button" style="width: 70px;float: left;margin: 20px auto auto 50px;" onclick="search()">查询</button>
    </div></br>

    <div class="text_area" style="width:800px; margin: 20px auto;float: left;">
        <textarea class="text_val" style="width: 100%; height: 300px;">
            sssssssssssss


            ddddddddddddd
        </textarea>
    </div>
</div>

</body>
</html>
